<div class="page_container">
  <%= render "shared/navbarx" %>
  <div class="main_content">
    <div row="row">

        <% @cocktails.each do |c| %>
          <div class="col-sm-12 col-md-3">
            <%= link_to cocktail_path(c) do  %>
              <%= render "shared/cardx", cocktail: c %>
            <% end %>
          </div>
        <% end %>

    </div>
    <!-- <%= link_to "Add a new cocktail recipe", new_cocktail_path %> -->
</div>
</div>

