<h1>Create a new cocktail</h1>



<div>
  <%= simple_form_for @cocktail do |f| -%>
    <!-- <%= f.label :name %> -->
    <%= f.input :name %>
    <%= f.button :submit %>
  <% end -%>

</div>


<div>
  <h3>ingredients:</h3>

</div>
