<div class="cardx col-sm-12 col-md-4">
  <!-- <img src=<% cocktail.image %> alt=""> -->
  <!-- <%= link_to("#{cocktail.name}", cocktail_path(cocktail)) %> -->
  <%= image_tag cocktail.image %>
  <h3><%= cocktail.name %></h3>
</div>
