.navbarx {
  flex: 0 0 70px;
  // width: 70px;
  height: 100vh;
  background: #ffffff;
  z-index: 10;
  opacity: 1;
  position: sticky !important;
  top: 0 !important;
  left: 0;
  margin-right: 2px;
  writing-mode: vertical-rl !important;
  text-orientation: mixed;

  h3 {
    position: absolute;
    top: 30px;
    left: 20px;

  }
}
